body {
    text-align: center;
    min-width: 500px;
    font-family: 'Menomonia';
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0,0,0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0, 0.6);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0,0,0, 0.7);
}

#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


.leaflet-container {
    background: #000;
}

.events {
    padding: 10px;
    position: fixed;
    top: 30px;
    left: 10px; 
    width: 375px;
    display: block;
    z-index: 100;
}

.event {
    text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;
    color: rgba(255, 120, 50, 0.8);
    margin: 10px;
    padding: 10px;
    padding-bottom: 20px;
    font-size: 1.3em;
    text-align: left;
}

.event:not(:last-child) {
    border-bottom: 2px dotted rgba(150, 150, 150, 0.8);
}

.level {
    text-shadow: 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000, 0 0 10px #000000;
    color: rgba(255, 255, 255, 0.7);
    float: right;
}

.clear {
    clear: both;
}

.event-list {
    position: fixed !important;
    position: absolute;
    top: 85px;
    bottom: 0;
    overflow-y: auto;
    width: 375px;
}

.event-buttons {
    font-size: 1.5em;
    cursor: pointer;
}

.event-buttons span {
    padding: 5px;
    color: rgba(130, 130, 130, 0.9);
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
    min-width: 100px;
    border-radius: 5px
}

.event-buttons span.selected {
    text-shadow: 0 0 3px #000000;
    color: rgba(255, 120, 50, 0.8);
}

.active {
    border-left: 3px solid rgba(0, 255, 0, 0.4);
}

.preparation {
    border-left: 3px solid rgba(50, 50, 200, 0.9);
}